# Python cache
__pycache__/
*.py[cod]

# PyInstaller
build/
dist/

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
apps/sDocBuilder/output/_preview
*.bak